---
- name: Install prerequisites
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}-prerequisites.yml"
  tags:
    - pihole
    - installation
    - prerequisites

- name: Install pi-hole
  ansible.builtin.include_tasks: "install.yml"
  tags:
    - pihole
    - installation
