BLOCKINGMODE={{ pi_hole_ftl_blockingmode | default("NULL") }}
CNAME_DEEP_INSPECT={{ pi_hole_ftl_cname_deep_inspect | default(true) | lower }}
BLOCK_ESNI={{ pi_hole_ftl_block_esni | default(true) | lower }}
MAXLOGAGE={{ pi_hole_ftl_maxlogage | default("24.0") }}
PRIVACYLEVEL={{ pi_hole_ftl_privacylevel | default("0") }}
IGNORE_LOCALHOST={{ pi_hole_ftl_ignore_localhost | default("no") }}
AAAA_QUERY_ANALYSIS={{ pi_hole_ftl_query_analysis | default("yes") }}
ANALYZE_ONLY_A_AND_AAAA={{ pi_hole_ftl_analyze_only_a_and_aaaa | default(false) | lower }}
SOCKET_LISTENING={{ pi_hole_ftl_socket_listening | default("localonly") }}
FTLPORT={{ pi_hole_ftl_port | default("4711") }}
RESOLVE_IPV6={{ pi_hole_ftl_resolve_ipv6 | default("yes") }}
RESOLVE_IPV4={{ pi_hole_ftl_resolve_ipv4 | default("yes") }}
DELAY_STARTUP={{ pi_hole_ftl_delay_startup | default("0") }}
NICE={{ pi_hole_ftl_nice | default("-10") }}
NAMES_FROM_NETDB={{ pi_hole_ftl_names_from_netdb | default(true) | lower }}
REFRESH_HOSTNAMES= {{ pi_hole_refresh_hostnames | default("IPV4") }}
DBIMPORT={{ pi_hole_ftl_dbimport | default("yes") }}
MAXDBDAYS={{ pi_hole_ftl_maxdbdays | default("365") }}
DBINTERVAL={{ pi_hole_ftl_dbinterval | default("1.0") }}
DBFILE={{ pi_hole_ftl_dbfile | default("/etc/pihole/pihole-FTL.db") }}
LOGFILE={{ pi_hole_ftl_logfile | default("/var/log/pihole-FTL.log") }}
PIDFILE={{ pi_hole_ftl_pidfile | default("/run/pihole-FTL.pid") }}
PORTFILE={{ pi_hole_ftl_portfile | default("/run/pihole-FTL.port") }}
SOCKETFILE={{ pi_hole_ftl_socket_file | default("/run/pihole/FTL.sock") }}
SETUPVARSFILE={{ pi_hole_ftl_setupvarsfile | default("/etc/pihole/setupVars.conf") }}
MACVENDORDB={{ pi_hole_ftl_macvendordb | default("/etc/pihole/macvendor.db") }}
GRAVITYDB={{ pi_hole_ftl_gravitydb | default("/etc/pihole/gravity.db") }}
DEBUG_ALL={{ pi_hole_ftl_debug_all | default(false) | lower }}
DEBUG_DATABASE={{ pi_hole_ftl_debug_database | default(false) | lower }}
DEBUG_NETWORKING={{ pi_hole_ftl_debug_networking | default(false) | lower }}
DEBUG_LOCKS={{ pi_hole_ftl_debug_locks | default(false) | lower }}
DEBUG_QUERIES={{ pi_hole_ftl_debug_queries | default(false) | lower }}
DEBUG_FLAGS={{ pi_hole_ftl_debug_flags | default(false) | lower }}
DEBUG_SHMEM={{ pi_hole_ftl_debug_shmem | default(false) | lower }}
DEBUG_GC={{ pi_hole_ftl_debug_gc | default(false) | lower }}
DEBUG_ARP={{ pi_hole_ftl_debug_arp | default(false) | lower }}
DEBUG_REGEX={{ pi_hole_ftl_debug_regex | default(false) | lower }}
DEBUG_API={{ pi_hole_ftl_debug_api | default(false) | lower }}
DEBUG_OVERTIME={{ pi_hole_ftl_debug_overtime | default(false) | lower }}
DEBUG_EXTBLOCKED={{ pi_hole_ftl_debug_extbloqued | default(false) | lower }}
DEBUG_CAPS={{ pi_hole_ftl_debug_caps | default(false) | lower }}
DEBUG_DNSMASQ_LINES={{ pi_hole_ftl_debug_dnsmasq_lines | default(false) | lower }}
DEBUG_VECTORS={{ pi_hole_ftl_debug_vectors | default(false) | lower }}
DEBUG_RESOLVER={{ pi_hole_ftl_debug_resolver | default(false) | lower }}
RATE_LIMIT={{ pi_hole_ftl_rate_limit | default("1000/60") }}
