[dns]
  {% if pi_hole_dns_upstreams is defined %}
  upstreams = [
    {% for upstream in pi_hole_dns_upstreams %}
    "{{ upstream }}",
    {% endfor %}
  {% else %}
  upstreams = []
  {% endif %}

  CNAMEdeepInspect = {{ pi_hole_dns_cname_deep_inspect | default(true) | lower }}

  blockESNI = {{ pi_hole_dns_block_esni | default(true) | lower }}

  EDNS0ECS = {{ pi_hole_dns_edns0ecs | default(true) | lower }}

  ignoreLocalhost = {{ pi_hole_dns_ignore_localhost | default(false) | lower }}

  showDNSSEC = {{ pi_hole_dns_show_dnssec | default(true) | lower }}

  analyzeOnlyAandAAAA = {{ pi_hole_dns_analyze_only_a_and_aaaa | default(false) | lower }}

  piholePTR = {{ pi_hole_dns_pihole_ptr | default("PI.HOLE") }}

  replyWhenBusy = {{ pi_hole_dns_reply_when_busy | default("ALLOW") }}

  blockTTL = {{ pi_hole_dns_block_ttl | default(2) }}

  {% if pi_hole_dns_hosts is defined %}
  hosts = [
    {% for host in pi_hole_dns_hosts %}
    "{{ host }}",
    {% endfor %}
  ]
  {% else %}
  hosts = []
  {% endif %}

  domainNeeded = {{ pi_hole_dns_domain_needed | default(false) | lower }}

  expandHosts = {{ pi_hole_dns_expand_hosts | default(false) | lower }}

  domain = {{ pi_hole_dns_domain | default("lan") | lower }}

  bogusPriv = {{ pi_hole_dns_bogus_priv | default(true) | lower }}

  dnssec = {{ pi_hole_dns_dnssec | default(false) | lower }}

  interface = {{ pi_hole_dns_interface | default(ansible_default_ipv4.interface) | lower }}

  hostRecord = {{ pi_hole_dns_host_record | default("") | lower }}

  listeningMode = {{ pi_hole_dns_listening_mode | default("LOCAL") | lower }}

  queryLogging = {{ pi_hole_dns_query_logging | default(true) | lower }}

  {% if pi_hole_dns_cname_records is defined %}
  cnameRecords = [
  {% for cname_record in pi_hole_dns_cname_records %}
    {{ cname_record }},
  {% endfor %}
  ]
  {% else %}
  cnameRecords = []
  {% endif %}

  port = {{ pi_hole_dns_port | default(53) }}

  {% if pi_hole_dns_rev_servers is defined %}
  revServers = [
    {% for rev_server in pi_hole_dns_rev_servers %}
    "{{ rev_server }}",
    {% endfor %}
  ]
  {% else %}
  revServers = []
  {% endif %}

  [dns.cache]
    size = {{ pi_hole_dns_cache_size | default(10000) }}

    optimizer = {{ pi_hole_dns_cache_optimizer | default(3600) }}

    upstreamBlockedTTL = {{ pi_hole_dns_cache_upstream_blocked_ttl | default(86400) }}

  [dns.blocking]
    active = {{ pi_hole_dns_blocking_enabled | default(true) | lower }}

    mode = {{ pi_hole_dns_blocking_mode | default("NULL") | upper }}

    edns = {{ pi_hole_dns_blocking_edns | default("TEXT") | upper }}

  [dns.specialDomains]
    mozillaCanary = {{ pi_hole_dns_special_domain_mozilla_canary | default(true) | lower }}

    iCloudPrivateRelay = {{ pi_hole_dns_special_domain_icloud_private_relay | default(true) | lower }}

    designatedResolver = {{ pi_hole_dns_special_domain_designated_resolver | default(true) | lower }}

    [dns.reply.host]
      force4 = {{ pi_hole_dns_reply_host_force4 | default(false) | lower }}

      IPv4 = {{ pi_hole_dns_reply_host_ipv4 | default("") }}

      force6 = {{ pi_hole_dns_reply_host_force6 | default(false) | lower }}

      IPv6 = {{ pi_hole_dns_reply_host_ipv6 | default("") }}

    [dns.reply.blocking]
      force4 = {{ pi_hole_dns_blocking_force4 | default(false) | lower }}

      IPv4 = {{ pi_hole_dns_blocking_ipv4 | default("") }}

      force6 = {{ pi_hole_dns_blocking_force6 | default(false) | lower }}

      IPv6 = {{ pi_hole_dns_blocking_ipv6 | default("") }}

  [dns.rateLimit]
    count = {{ pi_hole_dns_rate_limit_count | default(1000) }}

    interval = {{ pi_hole_dns_rate_limit_interval | default(60) }}

[dhcp]
  active = {{ pi_hole_dhcp_active | default(false) | lower }}

  start = {{ pi_hole_dhcp_start | default("") }}

  end = {{ pi_hole_dhcp_end | default("") }}

  router = {{ pi_hole_dhcp_router | default("") }}

  netmask = {{ pi_hole_dhcp_netmask | default("") }}

  leaseTime = {{ pi_hole_dhcp_leasetime | default("24h") }}

  ipv6 = {{ pi_hole_dhcp_ipv6 | default(false) }}

  rapidCommit = {{ pi_hole_dhcp_rapid_commit | default(false) }}

  multiDNS = {{ pi_hole_dhcp_multidns | default(false) }}

  logging = {{ pi_hole_dhcp_logging | default(false) }}

  ignoreUnknownClients = {{ pi_hole_dhcp_ignoreunknownclients | default(false) }}

  {% if pi_hole_dhcp_hosts is defined %}
  hosts = [
  {% for host in pi_hole_dhcp_hosts %}
    "{{ host }}",
  {% endfor %}
  ]
  {% else %}
  hosts = []
  {% endif %}

  [ntp.ipv4]
    active = {{ pi_hole_dhcp_ntp_ipv4_active | default(true) }}

    address = {{ pi_hole_dhcp_ntp_ipv4_address | default("") }}

  [ntp.ipv6]
    active = {{ pi_hole_dhcp_ntp_ipv6_active | default(true) }}

    address = {{ pi_hole_dhcp_ntp_ipv6_address | default("") }}

  [ntp.sync]
    active = {{ pi_hole_dhcp_ntp_sync_active | default(true) }}

    server = {{ pi_hole_dhcp_ntp_sync_server | default("pool.ntp.org") }}

    interval = {{ pi_hole_dhcp_ntp_sync_interval | default(3600) }}

    count = {{ pi_hole_dhcp_ntp_sync_count | default(8) }}

    [ntp.sync.rtc]
      set = {{ pi_hole_dhcp_ntp_sync_rtc_set | default(false) }}

      device = {{ pi_hole_dhcp_ntp_sync_rtc_device | default("") }}

      utc = {{ pi_hole_dhcp_ntp_sync_rtc_utc | default(true) }}

[resolver]
  resolveIPv4 = {{ pi_hole_resolver_resolveipv4 | default(true) }}

  resolveIPv6 = {{ pi_hole_resolver_resolveipv6 | default(true) }}

  networkNames = {{ pi_hole_resolver_networknames | default(true) }}

  refreshNames = {{ pi_hole_resolver_refreshnames | default("IPV4_ONLY") }}

[database]
  DBimport = {{ pi_hole_database_dbimport | default(true) }}

  maxDBdays = {{ pi_hole_database_maxdbdays | default(91) }}

  DBinterval = {{ pi_hole_database_dbinterval | default(60) }}

  useWAL = {{ pi_hole_database_usewal | default(true) }}

  [database.network]
    parseARPcache = {{ pi_hole_database_network_parsearpcache | default(true) }}

    expire = {{ pi_hole_database_network_expire | default(91) }}

[webserver]
  domain = {{ pi_hole_webserver_domain | default("pi.hole") }}

  acl = {{ pi_hole_webserver_acl | default("") }}

  port = {{ pi_hole_webserver_port | default("80o,443os,[::]:80o,[::]:443os") }}

  threads = {{ pi_hole_webserver_threads | default(50) }}

  {% if pi_hole_webserver_headers is defined %}
  headers = [
    {% for header in pi_hole_webserver_headers %}
    "{{ header }}",
    {% endfor %}
  ]
  {% else %}
  headers = [
    "X-DNS-Prefetch-Control: off",
    "Content-Security-Policy: default-src 'self' 'unsafe-inline';",
    "X-Frame-Options: DENY",
    "X-XSS-Protection: 0",
    "X-Content-Type-Options: nosniff",
    "Referrer-Policy: strict-origin-when-cross-origin"
  ]
  {% endif %}

  serve_all = {{ pi_hole_webserver_serve_all | default(false) }}

  [webserver.session]
    timeout = {{ pi_hole_webserver_session_timeout | default(1800) }}

    restore = {{ pi_hole_webserver_session_restore | default(true) }}

  [webserver.tls]
    cert = {{ pi_hole_webserver_tls_cert | default("/etc/pihole/tls.pem") }}

  [webserver.paths]
    webroot = {{ pi_hole_webserver_paths_webroot | default("/var/www/html/") }}

    webhome = {{ pi_hole_webserver_paths_webhome | default("/admin/") }}

    prefix = {{ pi_hole_webserver_paths_prefix | default("") }}

  [webserver.interface]
    boxed = {{ pi_hole_webserver_interface_boxed | default(true) }}

    theme = {{ pi_hole_webserver_interface_theme | default("default-auto") }}

  [webserver.api]
    max_sessions = {{ pi_hole_webserver_api_max_sessions | default(16) }}

    prettyJSON = {{ pi_hole_webserver_api_prettyjson | default(false) }}

    pwhash = {{ pi_hole_webserver_api_pwhash | default("") }}

    totp_secret = {{ pi_hole_webserver_api_totp_secret | default("") }}

    app_pwhash = {{ pi_hole_webserver_api_app_pwhash | default("") }}

    app_sudo = {{ pi_hole_webserver_api_app_sudo | default(false) }}

    cli_pw = {{ pi_hole_webserver_api_cli_pw | default(true) }}

    {% if pi_hole_webserver_api_excludeclients is defined %}
    excludeClients = [
      {% for client in pi_hole_webserver_api_excludeclients %}
      "{{ client }}",
      {% endfor %}
    ]
    {% else %}
    excludeClients = []
    {% endif %}

    {% if pi_hole_webserver_api_excludedomains is defined %}}
    excludeDomains = [
      {% for domain in pi_hole_webserver_api_excludedomains %}
      "{{ domain }}",
      {% endfor %}
    ]
    {% else %}
    excludeDomains = []
    {% endif %}

    maxHistory = {{ pi_hole_webserver_api_max_history | default(86400) }}

    maxClients = {{ pi_hole_webserver_api_max_clients | default(10) }}

    client_history_global_max = {{ pi_hole_webserver_api_client_history_global_max | default(true) }}

    allow_destructive = {{ pi_hole_webserver_api_allow_destructive | default(true) }}

    [webserver.api.temp]
      limit = {{ pi_hole_webserver_api_temp_limit | default(60.000000) }}

      unit = {{ pi_hole_webserver_api_temp_unit | default("C") }}

[files]
  pid = {{ pi_hole_files_pid | default("run/pihole-FTL.pid") }}

  database = {{ pi_hole_files_database | default("etc/pihole/pihole-FTL.db") }}

  gravity = {{ pi_hole_files_gravity | default("/etc/pihole/gravity.db") }}

  gravity_tmp = {{ pi_hole_files_gravity_tmp | default("/tmp") }}

  macvendor = {{ pi_hole_files_macvendor | default("/etc/pihole/macvendor.db") }}

  setupVars = {{ pi_hole_files_setupvars | default("/etc/pihole/setupVars.conf") }}

  pcap = {{ pi_hole_files_pcap | default("") }}

  [files.log]

    ftl = {{ pi_hole_files_log_ftl | default("/var/log/pihole/FTL.log") }}

    webserver = {{ pi_hole_files_log_webserver | default("/var/log/pihole.log") }}

[misc]
  privacylevel = {{ pi_hole_misc_privacylevel | default(0) }}

  delay_startup = {{ pi_hole_misc_delay_startup | default(0) }}

  nice = {{ pi_hole_misc_nice | default(-10) }}

  addr2line = {{ pi_hole_misc_addr2line | default(true) }}

  etc_dnsmasq_d = {{ pi_hole_misc_etc_dnsmasq_d | default(false) }}

  {% if pi_hole_misc_dnsmasq_lines is defined %}
  dnsmasq_lines = [
    {% for line in pi_hole_misc_dnsmasq_lines %}
    "{{ line }}",
    {% endfor %}
  ]
  {% else %}
  dnsmasq_lines = []
  {% endif %}

  extraLogging = {{ pi_hole_misc_extralogging | default(false) }}

  readOnly = {{ pi_hole_misc_readonly | default(false) }}

  [misc.check]
    load = {{ pi_hole_misc_check_load | default(true) }}

    shmem = {{ pi_hole_misc_check_shmem | default(90) }}

    disk = {{ pi_hole_misc_check_disk | default(90) }}
