WEBPASSWORD={{ pi_hole_webpasswd | default(omit) }}
DNSMASQ_LISTENING={{ pi_hole_dnsmasq_listening | default("single") }}
DNS_FQDN_REQUIRED={{ pi_hole_fqdn_required | default(false) }}
DNS_BOGUS_PRIV={{ pi_hole_bogus_priv | default(false) }}
DNSSEC={{ pi_hole_dnssec | default(false) }}
BLOCKING_ENABLED={{ pi_hole_blocking_enabled | default(true) }}
PIHOLE_INTERFACE={{ ansible_default_ipv4.interface }}
IPV4_ADDRESS={{ ansible_default_ipv4.address }}/24
IPV6_ADDRESS={{ ansible_default_ipv6.address | default(omit) }}
PIHOLE_DNS_1={{ pi_hole_dns_1 | default("8.8.8.8") }}#{{ pi_hole_dns_1_port | default("53") }}
PIHOLE_DNS_2={{ pi_hole_dns_2 | default("8.8.4.4") }}#{{ pi_hole_dns_2_port | default("53") }}
QUERY_LOGGING={{ pi_hole_query_logging | default(true) }}
INSTALL_WEB_SERVER={{ pi_hole_install_web_server | default(true) }}
INSTALL_WEB_INTERFACE={{ pi_hole_install_web_interface | default(true) }}
LIGHTTPD_ENABLED={{ pi_hole_enable_lighttpd | default(true) }}
REV_SERVER={{ pi_hole_rev_server | default(omit) }}
REV_SERVER_DOMAIN={{ pi_hole_rev_server_domain | default(omit) }}
REV_SERVER_TARGET=1{{ pi_hole_rev_server_target | default(omit) }}
REV_SERVER_CIDR={{ pi_hole_rev_server_cidr | default(omit) }}
