WEBPASSWORD={{ pi_hole_webpasswd }}
DNSMASQ_LISTENING={{ pi_hole_dnsmasq_listening }}
DNS_FQDN_REQUIRED={{ pi_hole_fqdn_required }}
DNS_BOGUS_PRIV={{ pi_hole_bogus_priv }}
DNSSEC={{ pi_hole_dnssec }}
BLOCKING_ENABLED={{ pi_hole_blocking_enabled }}
PIHOLE_INTERFACE={{ansible_default_ipv4.interface}}
IPV4_ADDRESS={{ansible_default_ipv4.address}}/24
IPV6_ADDRESS={{ansible_default_ipv6.address | default(omit)}}
PIHOLE_DNS_1={{ pi_hole_dns_1 }}#{{ pi_hole_dns_1_port }}
PIHOLE_DNS_2={{ pi_hole_dns_2 }}#{{ pi_hole_dns_2_port }}
QUERY_LOGGING={{ pi_hole_query_logging }}
INSTALL_WEB_SERVER={{ pi_hole_install_web_server }}
INSTALL_WEB_INTERFACE={{ pi_hole_install_web_interface }}
LIGHTTPD_ENABLED={{ pi_hole_enable_lighttpd }}
REV_SERVER={{ pi_hole_rev_server }}
REV_SERVER_DOMAIN={{ pi_hole_rev_server_domain }}
REV_SERVER_TARGET=1{{ pi_hole_rev_server_target }}
REV_SERVER_CIDR={{ pi_hole_rev_server_cidr }}
