name: release-please
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        id: get_token
        uses: peter-murray/workflow-application-token-action@v4
        with:
          application_id: "309440"
          application_private_key: ${{ secrets.RELEASE_PLEASE_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        with:
          command: manifest
          release-type: simple
          token: ${{ steps.get_token.outputs.token }}
